version: '2'
services:
    web:
        build: 
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "3000"
        links:
            - redis
        restart: always
        environment:
            - ENV=dev
            - ADDR=http://127.0.0.1/
        volumes:
            - ./lib:/usr/perception/lib
            - ./views:/usr/perception/views
            - ./test:/usr/perception/test
            - ./ip.tmp:/usr/perception/ip.tmp
    redis:
        image: redis
        ports:
            - "6379"
    https-portal:
        image: steveltn/https-portal
        ports:
            - '80:80'
            - '443:443'
        links:
            - web
        environment:
            STAGE: 'local'
            WEBSOCKET: 'true'
            DOMAINS: 'localhost -> http://web:3000'