version: '2'
services:
    web:
        build: 
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "3000"
        links:
            - redis
        restart: always
        environment:
            - ENV=dev
            - ADDR=https://localhost/
            - SECUREADDR=https://secure.localhost/
            - RPC_ADDR=1.tcp.eu.ngrok.io:20245
        volumes:
            - ./lib:/usr/perception/lib
            - ./views:/usr/perception/views
            - ./test:/usr/perception/test
            - ./public:/usr/perception/public
            - ./certs:/usr/perception/certs
    redis:
        image: redis
        ports:
            - "6379"
        command: redis-server --appendonly yes
        volumes:
            - ./data:/data
    https-portal:
        image: steveltn/https-portal
        ports:
            - '80:80'
            - '443:443'
        links:
            - web
        volumes:
            - ./nginx/ssl.local.conf.erb:/var/lib/nginx-conf/localhost.ssl.conf.erb:ro
            - ./certs/ca.crt:/usr/perception/certs/ca.crt
            - ./game/images:/home/images
        environment:
            STAGE: 'local'
            WEBSOCKET: 'true'
            DOMAINS: 'localhost -> http://web:3000'