version: '2'
services:
    web:
        build: .
        ports:
            - "3000"
        links:
            - redis
        restart: always
        environment:
            - ENV=prod
            - ADDR=https://www.playperception.com/
            - RPC_ADDR=1.tcp.eu.ngrok.io:20187
    redis:
        image: redis
        ports:
            - "6379"
        command: redis-server --appendonly yes
        volumes:
            - /home/data:/data
    https-portal:
        image: steveltn/https-portal
        ports:
            - '80:80'
            - '443:443'
        links:
            - web
        restart: always
        volumes:
            - /home/ssl.conf.erb:/var/lib/nginx-conf/www.playperception.com.ssl.conf.erb:ro
            - /home/ca.crt:/usr/perception/certs/ca.crt
            - /home/images:/home/images:ro
        environment:
            STAGE: 'production'
            WEBSOCKET: 'true'
            DOMAINS: 'www.playperception.com -> http://web:3000'