version: '2'
services:
    web:
        build: 
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "3000:3000"
        links:
            - redis
        restart: always
        environment:
            - ENV=dev
            - ADDR=http://127.0.0.1:3000/
        volumes:
            - ./lib:/usr/perception/lib
            - ./test:/usr/perception/test
            - ./public:/usr/perception/public
            - ./ip.tmp:/usr/perception/ip.tmp
    redis:
        image: redis
        ports:
            - "6379"