version: '2'
services:
    web:
        build: 
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "3000"
        links:
            - redis
        restart: always
        environment:
            - ENV=dev
            - ADDR=https://127.0.0.1/
        volumes:
            - ./lib:/usr/perception/lib
            - ./views:/usr/perception/views
            - ./test:/usr/perception/test
            - ./public:/usr/perception/public
            - ./certs:/usr/perception/certs
    redis:
        image: redis
        ports:
            - "6379"
        command: redis-server --appendonly yes
        volumes:
            - ./data:/data
    https-portal:
        image: steveltn/https-portal
        ports:
            - '80:80'
            - '443:443'
        links:
            - web
        volumes:
            - ./nginx/ssl.conf.erb:/var/lib/nginx-conf/127.0.0.1.ssl.conf.erb:ro
            - ./certs/ca.crt:/usr/perception/certs/ca.crt
            - ./game/images:/home/images
        environment:
            STAGE: 'local'
            WEBSOCKET: 'true'
            DOMAINS: '127.0.0.1 -> http://web:3000'