<div class="blocks">
  <div id="one" class="block one"></div>
  <div id="two" class="block two"></div>
  <div id="three" class="block three"></div>
  <div id="four" class="block four"></div>
  <div id="five" class="block five"></div>
  <div id="six" class="block six "></div>
</div>
