<canvas class="static" id="static"></canvas>
<div class="offline">
  <img class="logo" src="{{addr}}assets/logo.svg" alt="perception" /><br/>
  <span class="consoleText">OFFLINE</span>
</div>
<script>
  (function() {
     window.setInterval(() => { window.location.reload(); }, 120000);
  })();
</script>