<canvas class="static" id="static"></canvas>
<canvas class="cozmoStream" id="cozmoStream" width="100%", height="100%"></canvas>
<div class="hud">
  <img src="assets/logo.svg" alt="perception" width="266" height="47"/><br/>
  <div id="queueStatus"><span class="consoleText">Initialising....<span></div>
  <br/><div id="commandPrompt"></div>
</div>
<div class="user" id="userHud">
</div>
<div id="controls">
  <div class="controlsLeft">
    <div class="keysTopRow">
      <button class="keyboard-key r dark" id="rKey"></button>
      <button class="keyboard-key t dark" id="tKey"></button>
    </div>
    <div class="keysBottomRow">
      <button class="keyboard-key f dark" id="fKey"></button>
      <button class="keyboard-key g dark" id="gKey"></button>
      <button class="keyboard-key return dark" id="returnKey"></button>

    </div>
  </div>

  <div class="controlsRight">
    <div class="keysTopRow">
      <button class="keyboard-key w dark" id="wKey"></button>
    </div>
    <div class="keysBottomRow">
      <button class="keyboard-key a dark" id="aKey"></button>
      <button class="keyboard-key s dark" id="sKey"></button>
      <button class="keyboard-key d dark" id="dKey"></button>

    </div>
  </div>
</div>