<canvas class="static" id="static"></canvas>
<div class="nowplaying text"><span class="consoleText">NOW PLAYING: {{userDisplayName}} / SCORE: {{score}}</span></div>
<script src="{{addr}}javascript/static.js"></script>
<script>setTimeout("location.reload(true);", 10000);</script>