<canvas class="static" id="static"></canvas>
<div class="level text"><span class="consoleText">LEVEL: {{level}}</span></div>
<div class="score text"><span class="consoleText">SCORE: {{score}}</span></div>
<div class="shame text"><span class="consoleText">SHAME: {{shame}}</span></div>
<script src="{{addr}}javascript/static.js"></script>
