
body {
  background-color: lightgrey;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 500px;
  min-width: 800px;
}

.blocks {
  width: 100%;
  height: 100%;
}

.block {
  background-color: lightgrey;
  background-size:100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  width: 33%;
  height: 48vh;
}

.one { 
  background-image: url(/assets/1.svg);
  background-size: 50% 100%;
  background-position: center; 
}

.two { 
  background-image: url(/assets/2.svg);
}

.three { 
  background-image: url(/assets/3.svg);
}

.four { 
  background-image: url(/assets/4.svg);
}

.five { 
  background-image: url(/assets/5.svg);
}

.six { 
  background-image: url(/assets/6.svg);
}

.arone { 
  background-image: url(/assets/ar_1.svg);
  background-size: 100% 100%;
}

.artwo { 
  background-image: url(/assets/ar_2.svg);
}

.arthree { 
  background-image: url(/assets/ar_3.svg);
}