
body {
  color: #0fc127;
  font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 22px;
  background-color: lightgrey;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 500px;
  min-width: 800px;
  margin: 0px;
}

.text {
  display: block;
  padding: 24px;
  position: absolute;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 22px;
  margin: 0 auto;
  z-index: 14;
}
.highscores {
  padding: 8px;
}

.highscore {
  display: block;
  padding: 4px;
  position: relative;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 16px;
  margin: 0 auto;
  z-index: 14;
}

.red {
  color: red;
  font-weight: 800;
}

.level {
  bottom: 100px;
  right: 0;
}

.nowplaying {
  bottom: 0px ;
  right: 0;
}

.score {
  bottom: 50px;
  right: 0;
}

.shame {
  color: red;
  bottom: 0px; 
  right: 0;
}

.clue {
  bottom: 0px;
  font-size: 45px;
}

.consoleText {
  background-color: #000;
  height: 20px;
  padding: 1px 5px 2px 5px;
  opacity: 0.8;
}


.static {
  position:fixed;
  background:#000;
}

img {
  position: absolute;
  z-index: 10;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  display: block;
  max-height: 400px;
  width: auto;
  opacity: 0.9;
}

.blocks {
  width: 100%;
  height: 100%;
}

.block {
  background-color: lightgrey;
  background-size:100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  width: 32%;
  height: 48vh;
}

.one { 
  background-image: url(/assets/1.svg);
  background-size: 50% 100%;
  background-position: center; 
}

.two { 
  background-image: url(/assets/2.svg);
}

.three { 
  background-image: url(/assets/3.svg);
}

.four { 
  background-image: url(/assets/4.svg);
}

.five { 
  background-image: url(/assets/5.svg);
}

.six { 
  background-image: url(/assets/6.svg);
}

.arone { 
  background-image: url(/assets/ar_1.svg);
  background-size: 100% 100%;
}

.artwo { 
  background-image: url(/assets/ar_2.svg);
  background-size: 100% 100%;
}

.arthree { 
  background-image: url(/assets/ar_3.svg);
  background-size: 100% 100%;
}