html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

body {
  background-color:#000;
  background-size: 100% 100%;
  color: #0fc127;
  font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 22px;
  margin: 0px;
  position: relative;
}

a {
  text-decoration: inherit;
  color: #768976;
}

.logo {
  width: 187px;
  height: 33px;
}

.userLogo { 
  width: 33px;
  height: 33px;
}

.static {
  position:fixed;
  background:#000;
}

.commandContainer {
  display: none;
}

.commandPrompt {
  border: none;
  background-color: #000;
  color: #0fc127;
  font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 22px;
  height: 20px;
  padding: 0 5px 0 5px;
  opacity: 0.8;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.commandPrompt:focus{
  outline: none;
}

.consoleText {
  background-color: #000;
  height: 20px;
  padding: 1px 5px 2px 5px;
  opacity: 0.8;
}

.connectWithTwitch {
  margin-top: 8px;
  width: 100px;
  height: 19px;
}


.cozmoStream {
  display: none;
}

.perceptionStream {
  display: none;
  width: 230px;    
  height: 129px;
  margin: auto;
  padding-top: 40px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 10;
}

.hud {
  display: block;
  padding: 12px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.user {
  text-align: right;
  display: block;
  margin-left: 300px;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

}

#controls { 
  display: none;
}

.controlsRight { 
  padding: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.controlsRight .keysBottomRow .f { 
  margin-left: 15px;
}

.controlsLeft {
  padding: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.controlsRight .keysTopRow { 
  margin-left: 100px;
  margin-bottom: 5px;
}

.controlsLeft .keysTopRow {
  margin-left: 70px;
  margin-bottom: 5px;
}

.user .logo {
  opacity: 0.8;
  margin-top: 2px;
  position: relative;
  height: 45px;
  width: 45px;
  right: 0;
}

.offline {
  display: block;
  padding: 24px;
  position: absolute;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 32px;
  margin: 0 auto;
  top: 0px;
  z-index: 10;
}

.keyboard-key {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #0fc127;
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  width: 80px;
  height: 55px;
  background: #eff0f2;
  border-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  margin: 0px;
  opacity: 0.6;
}

.keyboard-key.dark {
  border: none;
  background: #222;
  box-shadow: inset 0 0 25px #111, 0 1px 0 #000, 0 2px 0 #222, 0 2px 3px #333;
  text-shadow: 0px -1px 0px #000;
}

.keyboard-key:active,
.keyboard-keydown {
  color: #888;
  background: #ebeced;
  margin: 0px 0px -2px 0px;
  box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.keyboard-key.dark:active,
.keyboard-keydown.dark {
  color: #888;
  background: #222;
  box-shadow: inset 0 0 25px #333, 0 0 3px #333;
}

.short {
  font-size: 8px;
  height: 26px;
  width: 46px;
}

.centered {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.bottom-center {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* alphabet */
.keyboard-key.w::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "W //\a FORWARD";
  white-space: pre;
}

.keyboard-key.r::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "R //\aUP";
  white-space: pre;
}

.keyboard-key.t::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "T //\a PICKUP";
  white-space: pre;
}

.keyboard-key.a::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "A //\a LEFT";
  white-space: pre;
}

.keyboard-key.s::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "S //\a BACK";
  white-space: pre;
}

.keyboard-key.d::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "D //\a RIGHT";
  white-space: pre;
}

.keyboard-key.f::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "F //\a DOWN";
  white-space: pre;
}

.keyboard-key.g::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "G //\a PUTDOWN";
  white-space: pre;
}


/* utility */
.keyboard-key.return {
  width: 95px;
}

.keyboard-key.return::before {
  position: absolute;
  top: 25%;
  margin-top: -0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "ENTER //\aTALK";
  white-space: pre;
}


/*240px, 400px, 600px, 900px, 1008px, 1280px*/

@media (min-width: 240px) {

  .perceptionStream {
    width: 230px;    
    height: 129px;
  }

}

@media (min-width: 400px) {

  .connectWithTwitch {
    margin-top: 5px;
    width: 130px;
    height: 25px;
  }

  .cozmoStream {
    display: none;
  }

  .perceptionStream {
    width: 300px;
    height: 169px;
  }

}


@media (min-width: 600px) {

  .logo {
    width: 254px;
    height: 45px;
  }

  .userLogo { 
    width: 45px;
    height: 45px;
  }

  .connectWithTwitch {
    width: 170px;
    height: 32px;
  }

  .hud {
    padding: 24px;
  }

  .user {
    padding: 24px;
  }

  .perceptionStream {
    width: 500px;
    height: 281px;
  }

}

@media (min-width: 900px) {
  
  .perceptionStream {
    width: 650px;
    height: 367px;
  }

}

@media (min-width: 1008px) {
  
  .perceptionStream {
    width: 900px;
    height: 506px;
  }

}

@media (min-width: 1280px) {
  
  .perceptionStream {
    width: 1200px;
    height: 675px;
  }

}